@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


*{margin:0; padding:0; box-sizing: border-box; color:#333;}

a{display: block; text-decoration: none; color:#333;}
li{list-style: none;}
img{width:100%;}

.clear_both:after {content:""; display:block; clear:both; }
.none { display:none;}


body,html {position:relative ; font-family: 'GmarketSansLight'; color:#333; overflow-x:hidden;}


/*contents_body*/

#contents_body { width:70%; min-width:1300px; padding-top:80px; margin:0 auto; -border:1px solid #000;}

.sec:first-child { width:100%; margin-top:100px;}

.sec:nth-child(2) { width:100%; margin-top:100px;}

.sec { margin-top:150px;}

.container { width:100%; }

.container .slide {width:100%; -border:1px solid red;}

.container .slide .slider {width:100%;}

.container .slide .slider .slide_inner {width:100% !important; display:flex; justify-content: space-between;}

.slider .slide_inner .child { width:50%;}

.slider .slide_inner .image {display:flex; align-items: center;}

.slider .txt_wrap { margin-top:70px; padding-left:30px; }

.slider .txt_wrap .silde_tit { letter-spacing:1px; font-size:2.5em;}

.slider2 .txt_wrap .silde_tit span {  font-family: 'Noto Sans KR', sans-serif;  font-weight: normal;}

.slider .txt_wrap .write { margin-top:100px;}

.slider .txt_wrap .write p { font-size:1.1em; line-height: 30px;}

.slider3 .txt_wrap .write p span { font-size: 0.8em;}

.slider .txt_wrap .more_btn { width:35%; height:50px;  margin-top:50px; background:#fbd225; }

.slider .txt_wrap .more_btn a { font-family: 'GmarketSansMedium'; width:100%; height:100%; line-height: 50px; text-align: center; }

/*slide*/

.slick-slider button { position:absolute; top:50%; transform:translateY(-50%); width:50px; height:50px; font-size:0; font-family : xeicon; background-color:transparent; outline:none; border:none; }

.slick-slider button:focus{ outline: none;}

.slick-slider .slick-prev { left:-80px; }
.slick-slider .slick-prev:after { content:"\e93d"; font-size:50px;}


.slick-slider .slick-next { right:-80px;}
.slick-slider .slick-next:after { content:"\e940"; font-size:50px; }

/*//slide*/

/* section2 */

.section2 .container {width:100%; height:auto;}

.sec .container .sec_tit {font-size:2.5em; font-family: 'GmarketSansBold'; margin-left:10px; }

.filter {margin-top:40px;}

.filter .filter_wrap { display:flex; flex:auto; }

.filter .filter_wrap .filter_btn { margin:0 10px;}

.filter .filter_wrap .filter_btn:first-child { margin-left:0; }

.filter_wrap .filter_btn a { font-family: 'GmarketSansMedium'; height: 40px; line-height:40px; padding:0 15px;}

.filter_wrap .filter_btn a.on { background:#fbd225; }


/* filter_tab */

.filter .filter_tab_cont{ width:100%; margin-top:40px;}

.filter .filter_tab_cont .filter_tab { display:none; width:100%;}

.filter .filter_tab_cont .filter_tab.on {display:block;}

.filter .filter_tab .tab_inner {  display:grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: auto; grid-gap: 20px; width:100%;}

.filter_tab .tab_inner .item { padding-bottom:15px; }

.tab_inner .item .txt_wrap{ margin-top:10px;}

.tab_inner .item .txt_wrap .txt {margin-top:10px;}

.item .txt_wrap .txt .price {font-family: 'GmarketSansMedium'; font-size:1.3em;}

.filter_tab .tab_btn {width:15%; margin:0 auto; margin-top:50px; }

.filter_tab .tab_btn a {width:100%; height:50px; line-height:50px; background:#fbd225; text-align: center; font-family: 'GmarketSansMedium'; }

/* //filter_tab */


/* //section2 */





/* section3 */

.contents_txt {margin-top:40px; font-family: 'GmarketSansMedium';}

.slide_section .container .slider { margin-top:50px;}

.section3 .container .item { position:relative; margin:0 10px;}

.section3 .container .item .promotion_over {position:absolute; bottom:0; left:0; width:60%; background:rgba(251,210,37,0.7); transition:all 0.5s; }

.section3 .container .item:hover .promotion_over { background:rgba(251,210,37,1); }

.promotion_over .tag {color:#fff;}

.section3 .container .item.child04 .promotion_over{ width:50%; bottom:30px; transform: translateX(50%); background-color: transparent;}

.section3 .promotion_over .promotion_txt {padding:10px 20px;}

.item.child04 .promotion_over .promotion_txt{padding:0; text-align: center; }

.idea_txt {margin-top:20px;}

.idea_txt .tit {font-family: 'GmarketSansMedium'; letter-spacing: 0.5px;}

.idea_txt .content {margin-top:20px;}

/* // section3 */



/* section4 */

.section4 .container .item { margin:0 10px;}

/* //section4 */



/*//contents_body*/


@media screen and (max-width:1350px) {
    
     #contents_body { width:100%; min-width: inherit; padding:0 30px; }
    
    .slider .txt_wrap .silde_tit { font-size:1.5em; }
    
    .slider .txt_wrap .write p {font-size:0.9em; line-height: 25px;}
    
    .container .slide .slider .slide_inner {flex-direction: column;}
    
    .slider .slide_inner .child {width:100% !important; }
    
    .slider .slide_inner .child:first-child { order:2; }
    
    .slider .slide_inner .child:last-child { order:1; }
    
    .slider .txt_wrap {margin-top:0; padding:0;}
    
    .slider .txt_wrap .write {margin-top:50px;}
    
    .slider .txt_wrap .more_btn {width:100%;}
    
    .sec:first-child { margin-top:100px; }
    
    .sec { margin-top:70px; }
    
    .sec .container .sec_tit { font-size:1.8em; }
    
    .filter .filter_tab .tab_inner { grid-template-columns: 1fr 1fr; }
    
    .filter_tab .tab_btn {width:100%;}
    
    .contents_txt {margin-top:20px;}
}

@media screen and (max-width:600px) {
    

    
    .slider .txt_wrap .write {margin-top:30px;}
    
    .slider .txt_wrap .write p {font-size:0.9em; line-height: 25px;}
    
    .slider .txt_wrap .more_btn {width:100%; margin-top:30px;}
    
    .sec { margin-top:50px; }
    
    .sec .container .sec_tit { font-size:1.5em; }
    
    .filter {margin-top:30px;}
    
    .filter .filter_wrap .filter_btn {white-space: nowrap; margin:0 3px; }
    
    .filter .filter_wrap .filter_btn a { padding:0 10px; height:30px; line-height:30px;}
    
    .filter .filter_tab .tab_inner { grid-template-columns: 1fr 1fr; }
    
    .tab_inner .item .txt_wrap {font-size:0.8em}
    
    .filter_tab .tab_btn {width:100%; margin-top:30px;}    
    
    .contents_txt {margin-top:30px; font-size:0.8em;}
    
    .idea_txt .content { font-size:0.8em; }

}


@media screen and (max-width:390px) {
    

    
    .slider .txt_wrap .write {margin-top:30px;}
    
    .slider .txt_wrap .write p {font-size:0.9em; line-height: 25px;}
    
    .slider .txt_wrap .more_btn {width:100%; margin-top:30px;}
    
    .sec { margin-top:50px; }
    
    .sec .container .sec_tit { font-size:1.45em; }
    
    .filter {margin-top:30px;}
    
    .filter .filter_wrap .filter_btn {white-space: nowrap; margin:0 3px; }
    
    .filter .filter_wrap .filter_btn a { font-size:0.8em;  padding:0 10px; height:30px; line-height:30px;}
    
    .filter .filter_tab .tab_inner { grid-template-columns: 1fr 1fr; }
    
    .tab_inner .item .txt_wrap {font-size:0.75em}
    
    .filter_tab .tab_btn {width:100%; margin-top:30px;}    
    
    .contents_txt {font-size:0.75em;}
    
    .idea_txt .content { font-size:0.75em; }

}




